



.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


.navlogo{
    text-align: left;
}

.navhead{
    text-align: right;
}

.navmenu{
    flex-direction: row;
    justify-content: flex-end;
}

.navmenu a {

    padding: 5px 20px;
    background-color: transparent;
}


.navmenu a:hover {

    background-color: rgb(167, 152, 152);
}


.image img{
    margin-top: 50px;
    margin-right: 100px;
}
.aboutmedes p{
    text-align: left;
   
}

.aboutmedes{
    margin-top: 20px;
}


.hr{
  width: 770px;
  align-self: left;
  
  
}

.proex{
    width: 100%;
}


.lastcontainer{
    width: 100%;
}

.contact{
    position: relative;
}

.mediabutton{
    position: absolute;
    margin-top: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.footer a{
    display: inline;
}