*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
}


h1{
    font-size: 2.5rem;
    text-align: center;
}

h2{
    font-size: 1.5rem;
    text-align: center;
}


a{
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
   
}

p{
    font-size: 1.2rem;
    text-align: justify;
}

.dottedhr{
    border: dotted 6px white;
    border-bottom: none;
    margin: 20px auto ;
    width: 70px;

}


[class*="col-"]{
    float: left;
    padding: 10px;
}


[class*="col-"]{
    width: 100%;
}

.navbar{
    background-color: #40868b;
    padding: 2% 7%;
    text-align: center;
}


.navbar::after{
    content: '';
    display: table;
    clear: both;
}

.navhead{

    color: white;
    margin: 0;
    padding-top: 10px;
}

.navmenu{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}


.navmenu a {
    background-color: #0c6168;
    border-radius: 10px;
    margin: 7px 0px;
    padding: 10px;
}

.navmenu a:hover{
    background-color: gray;

}


#image{
    border-radius: 5px;
    height:100px ;
}

#image:hover{
    background-color: #40868b;
    border: #40868b solid 3px;

}












.profile{
    padding: 100px 15px;
    position: relative;
    text-align: center;
}

.des h1{
    font-family:  'Satisfy', cursive; ;
    font-size: 3rem ;
    color: rgb(11, 2, 17);
}
.des p{
    color: rgb(39, 6, 6);
    font-size: 2rem;
    text-align: center;
    padding-top: 40px;
    font-family:  'Satisfy', cursive; ;


}

.profile{

    background-image: url("image/bg.jpg");
    background-size: 100% 100%;
  


}








.aboutme{
    background-color: #39a4ac;
    padding: 1% 7%;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}



.aboutme::after{
    content: '';
    clear: both;
    display: table;
}


.image img{
    height: 200px;
    width: 180px;
    border-radius: 50%;
    border: solid 3px white;
    margin: 20px 0px;

}

.aboutme p{
    text-align: center;
   padding: 0px 20px;
}

.cvbutton{
padding: 15px;
color: white;
background-color: black;
border-radius: 15px;
border: none;
text-align: center;
font-size: 1.3rem;
margin-top: 20px;
margin-bottom: 20px;

}

.cvbutton:hover{
    background-color: #39A4AC;
    border: black 2px solid;
}
.hr{
    width: 400px;
    margin: 0 auto;
}







.carddes{
    padding: 10px;
}
.proex{
    padding: 10px;
    background-color: #BAB9BA;
}

.proex .card{
    background-color: #A59D9F;
    border-radius: 5px;
    padding: 10px;
    transition: 0.2s;
    height: 700px;
}

.proex .card:hover{
    box-shadow: 0px 4px 8px 5px ;
    
}


.cardicon{
 text-align: center;
 margin: 10px 0px;
}

.profile::after{
    clear: both;
    display: table;
    content: ('');

}
.pic{
height: 80px; 
width: 100pxS;
padding: 10px;
border: white 2px solid;
border-radius: 40%;
}

.cardtitle{

    margin: 10px;
    background-color: gray;
}




.SKILLCONTAINER{
    padding-right: 45PX;
}


.SKILLCONTAINER li{
    list-style: none;
    margin: 30px 10px;
    font-weight: bold;
    position: relative;

}


.SKILLCONTAINER li::before{
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    height: 10px;
    background-color: rgb(86,86,153,0.5);
    border-radius: 1000px;
   
}


.SKILLCONTAINER li::after{
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 0%;
    height: 10px;
    background-color: rgb(86,86,153,1);
    border-radius: 1000px;

    animation-duration: 3s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 2;
   
}


.SKILLCONTAINER li.HTML::after{
    animation-name: HTML;

}


@keyframes HTML{
    to{
        width: 90%;
    }
}

.SKILLCONTAINER li.CSS::after{
    animation-name: CSS;

}


@keyframes CSS{
    to{
        width: 80%;
    }
}

.SKILLCONTAINER li.BOOTSTRAP::after{
    animation-name: BOOTSTRAP;

}


@keyframes BOOTSTRAP{
    to{
        width: 50%;
    }
}

.SKILLCONTAINER li.JAVASCRIPT::after{
    animation-name: JAVASCRIPT;

}


@keyframes JAVASCRIPT{
    to{
        width: 40%;
    }
}

.SKILLCONTAINER li.JQUERY::after{
    animation-name: JQUERY;

}


@keyframes JQUERY{
    to{
        width: 20%;
    }
}

.SKILLCONTAINER li.NODEJS::after{
    animation-name: NODEJS;

}


@keyframes NODEJS{
    to{
        width: 45%;
    }
}

.SKILLCONTAINER li.EXPRESSJS::after{
    animation-name: EXPRESSJS;

}


@keyframes EXPRESSJS{
    to{
        width: 90%;
    }
}

.SKILLCONTAINER li.GITHUB::after{
    animation-name: GITHUB;

}


@keyframes GITHUB{
    to{
        width: 70%;
    }
}

.SKILLCONTAINER li.REACTJS::after{
    animation-name: REACTJS;

}


@keyframes REACTJS{
    to{
        width: 20%;
    }
}





.proex{
    clear: both;
    display: table;
    content: ('');
}



.lastcontainer{
    padding: 1% 7%;
    background-color: #39A4AC;

}

.lastcontainer ol{
    margin-top: 20px;
    padding: 20px 40px;
    color: white;
}

.lasthr{
    border: dotted 5px white;
    border-bottom: none;
    width: 100px;
    margin: 0 auto;
}

.lastcontainer h2{
    color: white;
}

.contactme{
    text-align: center;
}

.contactme input, textarea{
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 10px;
    resize: none;

}

.contactme button{
    border: none;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.contactme button:hover{
    background-color: gray;
    border: 1px solid black;
    color: black;
}


.contact{
    text-align: center;
}

.mediabutton{
    margin-top: 20px;
}

.mediabutton .btn{
    border: none;
   cursor: pointer;
   border-radius: 5px;
   font-size: 2.5rem;
   padding: 0px 5px;
   margin: 10px;
}

.btn:hover{
    background-color: gray;
}




.lastcontainer{
    clear: both;
    display: table;
    content: ('');
}





.footer{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1rem;
    padding: 20px;
}

.footermenu a{
    display: block;
    margin: 10px;
}

.footer a:hover{
    color: gray;
}






.footer::after{
    clear: both;
    display: table;
    content: '';
}